* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* using flex to display all tags(h3,ul) under the same line  */
nav {
    display: flex;
    justify-content: space-between;
    margin: 40px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.button-edit {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 36px;
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
}

/* banner style */

.banner {
    margin: 0 150px;
    display: flex;
    align-items: center;
}

.subtitle {
    color: #474747;
    font-weight: 600;
    font-size: 45px;
}

.title {
    color: #181818;
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    text-align: center;
    padding: 130px 158px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin-top: 130px;
}

.about-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.about-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    text-align: center;
    color: #757575;
}

.info-description {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #474747;
}

/* skill section */
.skill {
    margin-top: 130px;

}

.skill-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    text-align: center;
}

.skill-sub {
    margin-top: 30px;
    font-size: 18px;
    color: #757575;
    text-align: center;
}

.skill-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 24px;

}

.skill-name {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skillss {
    margin-top: 30px;
    font-weight: 700;
    font-size: 20px;
    color: #181818;
}

.skill-description {
    margin-top: 20px;
    font-size: 16px;
    color: #757575;
}

/* resume style */
.resume {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-top: 130px;
}

.res-center {
    text-align: center;
    margin-bottom: 110px;
}

.education {
    display: flex;
    gap: 24px;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}

.res-title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}

.res-year {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-top: 10px;
}

.res-description {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    margin-top: 20px;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}

/* contact style */

.contact {
    display: flex;
    gap: 100px;
    margin-top: 130px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.con-title {
    text-align: left;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.con-description {
    font-weight: 400;
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border-radius: 5px;
    width: 100%;
    padding: 18px 30px;
}

.contact a{
    text-decoration: none;
}